.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:invalid {
    animation: shake .3s;
}
@keyframes shake{
    25% { transform: translateX(4px);}
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}
}